.frame1 {
    position: absolute;
    width: 1920px;
    height: 1080px;
    top: 0;
    left: -0;
    
    background: #002E12;
}
.ine {
    position: absolute;
    width: 1920px;
    height: 100px;
    left: 0px;
    top: 0px;
    
    background: #309F09;
}
.ina {
    position: absolute;
width: 94px;
height: 980px;
left: 0px;
top: 100px;

background: #328931;
}
.ikonca {
    position: absolute;
    width: 94px;
    height: 100px;
    left: 0px;
    top: 0px;
    
    background: #2D652C;
}
.button{
    position: absolute;
    width: 153px;
    height: 100px;
    left: 312px;
    top: 0px;

    background: #28BA86;
}
.button1 {position: absolute;
    width: 159px;
    height: 100px;
    left: 608px;
    top: 1px;
    
    background: #28BA86;
}
.button2 {
    position: absolute;
    width: 159px;
    height: 100px;
    left: 921px;
    top: 0px;
    
    background: #28BA86;
}
.button3 {
    position: absolute;
    width: 159px;
    height: 100px;
    left: 1206px;
    top: 1px;


    
    background: #28BA86;
}
.head {
    position: absolute;
    width: 576px;
    height: 256px;
    left: 114px;
    top: 118px;
    
    background: #135F1A;
}
.ger {
    position: absolute;
    width: 626px;
    height: 90px;
    left: 704px;
    top: 118px;
    
    background: #1B8426;
}
.gerty {
    position: absolute;
    width: 1190px;
    height: 840px;
    left: 704px;
    top: 226px;
    
    background: #7DBB83;
}
.text {
    position: absolute;
    width: 582px;
    height: 256px;
    left: 108px;
    top: 118px;
    
    font-family: 'Inter';
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    
    color: #FFFFFF;
}
.text1 {
    position: absolute;
    width: 626px;
    height: 88px;
    left: 704px;
    top: 120px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    
    color: #FFFFFF;
}
.text2 {
    position: absolute;
    width: 1192px;
    height: 744px;
    left: 668px;
    top: 336px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    letter-spacing: 0.1em;
    
    color: #FFFFFF;
    
}
.text3 {
    position: absolute;
    width: 94px;
    height: 100px;
    left: 0px;
    top: 14px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 77px;
    text-align: center;
    letter-spacing: 0.1em;
    
    color: #E9E9E9;
} 
.gif {
    width: 500px;    
height: 500px;
position: absolute;
top: 500px;
left: 150px;
}