.frame1 {
    position: absolute;
    width: 1920px;
    height: 1080px;
    top: 0;
    left: -0;
    
    background: #002E12;
}
.ine {
    position: absolute;
    width: 1920px;
    height: 100px;
    left: 0px;
    top: 0px;
    
    background: #309F09;
}
.ina {
    position: absolute;
width: 94px;
height: 980px;
left: 0px;
top: 100px;

background: #328931;
}
.ikonca {
    position: absolute;
    width: 94px;
    height: 100px;
    left: 0px;
    top: 0px;
    
    background: #2D652C;
}
.button{
    position: absolute;
    width: 153px;
    height: 100px;
    left: 312px;
    top: 0px;

    background: #28BA86;
}
.button1 {position: absolute;
    width: 159px;
    height: 100px;
    left: 608px;
    top: 1px;
    
    background: #28BA86;
}
.button2 {
    position: absolute;
    width: 159px;
    height: 100px;
    left: 921px;
    top: 0px;
    
    background: #28BA86;
}
.button3 {
    position: absolute;
    width: 159px;
    height: 100px;
    left: 1206px;
    top: 1px;


    
    background: #28BA86;
}
.text3 {
    position: absolute;
    width: 94px;
    height: 100px;
    left: 0px;
    top: 14px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 77px;
    text-align: center;
    letter-spacing: 0.1em;
    
    color: #E9E9E9;
} 
.gildiu {
    position: absolute;
    width: 221px;
    height: 502px;
    left: 168px;
    top: 166px;
    
    background: #D9D9D9;
    border-radius: 29px;
}
.img {
    position: absolute;
    width: 221px;
    height: 502px;
    left: 0px;
    top: 0px;
    
    background: url(image.png);
    border-radius: 29px;
}
.giue {
    position: absolute;
    width: 221px;
    height: 502px;
    left: 661px;
    top: 166px;
    
    background: #D9D9D9;
    border-radius: 29px;
}
.imga {
    position: absolute;
    width: 221px;
    height: 502px;
    left: 0px;
    top: 0px;

    background: url(image\ \(1\).png (8).png);
    border-radius: 29px;
}
.hert {
    position: absolute;
    width: 221px;
    height: 502px;
    left: 1175px;
    top: 166px;
    
    background: #D9D9D9;
    border-radius: 29px;
}
.imager {
    position: absolute;
    width: 221px;
    height: 502px;
    left: 0px;
    top: 0px;
    
    background: url(image (1).png);
    border-radius: 29px;
}
.text {
    position: absolute;
width: 694px;
height: 44px;
left: 376px;
top: 111px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 42px;
line-height: 51px;

color: #FFFFFF;
}
.grups {
    position: absolute;
    width: 221px;
    height: 60px;
    left: 168px;
    top: 702px;
    
    background: #818181;
}
.text2 {
    position: absolute;
    width: 221px;
    height: 39px;
    left: 168px;
    top: 712px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    
    color: #FFFFFF;
}
.grups1 {
    position: absolute;
    width: 221px;
    height: 60px;
    left: 661px;
    top: 711px;
    
    background: #FF0000;
}
.text4 {
    position: absolute;
    width: 282px;
    height: 69px;
    left: 719px;
    top: 712px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 51px;
    
    color: #FFFFFF;
}
.grups3 {
    position: absolute;
    width: 221px;
    height: 60px;
    left: 1175px;
    top: 704px;
    
    background: #6B2525;

}
.text5 {
    position: absolute;
    width: 396px;
    height: 70px;
    left: 1198px;
    top: 712px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    
    color: #FFFFFF;

}